<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <br />
  <%= link_to 'Student View', course_path(@course), class: 'float-right btn btn-warning btn-sm' %>
  <br class="clr" />

  <div class="text-center">
    <%= link_to 'Add Section', new_instructor_course_section_path(@course), class: 'btn btn-primary btn-sm' %>
  </div>

  <ul>
    <% @course.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'Add Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
        <ul>
          <% section.lesson.each do |lesson| %>
            <l1>
              <b><%= lesson.subtitle %></b>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
</div>