<script>
  $(function(){
    $('.sections').sortable({
            update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
    
    $('.lessons').sortable({
            update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-left"><%= current_course.title %></h1>
  <div class="menu-buttons">
    <%= link_to 'Student View', course_path(current_course), class: 'float-right btn btn-info btn-sm' %>
    <%= link_to '+ Section', new_instructor_course_section_path(current_course), class: 'float-right btn btn-info btn-sm' %>
  </div>
  <br />
  <%= image_tag current_course.image, class: 'img-fluid' %>
  <br />
  <br class="clr" />
  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
          <span class="fa fa-ellipsis-v"></span>
          <%= section.title %>
        </div>
        <%= link_to '+ Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-info btn-sm' %>
        <br class="clr">
        <br class="clr">
        <div class="section">
          <ul class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                <div class="row">
                 <div class="col-1">
                   <br />
                   <span class="fa fa-ellipsis-v"></span>
                 </div>  
                 <div class="col-11 text-center">
                    <p>
                      <b><%= lesson.title %></b>
                    </p>
                    <p>
                      <%= lesson.subtitle %>
                    </p>
                  </div>
                </div>
                <br class="clr" />
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  
  </ul>
  
</div>