<script>
  $(function(){
    $('.lessons').sortable({
            update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  
  <br />
  <%= image_tag current_course.image, class: 'img-fluid' %>
  <br />
  <br class="clr" />
  <ul>
    <% current_course.sections.each do |section| %>
      <div class="section">
        <%= link_to '+ Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-info btn-sm' %>
        <h3><%= section.title %></h3>
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>">
              <div class="booyah-box">
                <div class="lesson text-center">
                  <br />
                    <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %></b>
                    <br />
                    -
                    <%= lesson.subtitle %>
                    <% end %>
                  <br />
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </div>
    <% end %>
    <%= link_to 'Student View', course_path(current_course), class: 'float-right btn btn-info btn-sm' %>
  <%= link_to '+ Section', new_instructor_course_section_path(current_course), class: 'float-right btn btn-info btn-sm' %>
  
  </ul>
  
</div>