

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br />
  <div class="form-inputs booyah-box col-lg-6 offset-3">
    <h2>Log in</h2> 
    <h5>
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </h5>
  </div>

  <div class="form-actions booyah-box col-lg-6 offset-3">
    <%= f.button :submit, "Log in" %><br />
    <%= render "devise/shared/links" %>
  </div>
<% end %>


